*.safetensor
*.zip
.vscode/**/*
__pycache__/**/*
_reference/**/*
_test/tts/checkpoints*/**
_test/tts/csm/**
_test/tts/openvoice/**
fish-speech/**/*
image/**/*
image_audio/**/*
image_audio_resized/**/*
image_boxed/**/*
image_crops/**/*
image_durations/**/*
image_gaps/**/*
image_grouped/**/*
image_resized/**/*
image_resized_fit/**/*
image_resized_fit_fade/**/*
image_text/**/*
merge/**/*
render/**/*
temp/**/*