**/*.cbz
**/*.flac
**/*.jpg
**/*.json
**/*.mkv
**/*.mp4
**/*.opus
**/*.png
**/*.pyc
**/*.safetensor
**/*.wav
**/*.webp
**/*.zip
_test/tts/checkpoints*/**
_test/tts/openvoice/**
image/**/*
image_audio/**/*
image_boxed/**/*
image_crops/**/*
image_durations/**/*
image_gaps/**/*
image_grouped/**/*
image_resized/**/*
image_text/**/*
merge/**/*
render/**/*
temp/**/*